:root {
  --vermelho: #E50914;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(41, 41, 41);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Footer */
.footer-container {
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.netflix-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 50%;
}

.menu-footer {
  width: 50%;
  display: flex;
  flex-flow: wrap;
}

.item-footer {
  font-size: 12px;
  padding: 2% 7% 1% 0;
}

.titulo-footer {
  font-size: 14px;
  padding-bottom: 1%;
}

.criador {
  border-top: solid 2px black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.criador p {
  padding: 5px;
}

/* NavBar */
.logo {
  margin-left: 5%;
  height: 60px;
  font-size: 35px;
  color: var(--vermelho);
}

/* Entrar da página Login */
.entrar-container {
  margin: 5%;
}